*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;

}
.center{
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}
#addbook{
    position:fixed;
    z-index: 100;
    bottom:0;
    right:0;
    margin:3rem;
    height: 2rem;

}
.bookcardcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height:100vh;
    padding:5rem;
    gap:3rem
}
.bookcard{
    display: flex;
    width: 20rem;
    height: 25rem;
    background-color: red;
    border: solid;
    border-radius: 20px;
}
.bookcard .left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
    padding: 2rem 0 2rem 2rem;
    overflow: hidden;
    text-align: center;
}
h3{
    color:white;

}
.bookcard .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0.5rem 1rem 0rem
}
.exit{
    padding:1px;
    border: none;
    cursor: pointer;
}
.readbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#formbox{
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    font-size: 1.2rem;
    width: 25rem;
    height:20rem;
}
#formbox button{
    margin:5px
}

